debug/mts
debug/blargg
debug/gbatest
debug/*.gba
debug/*.gb
debug/*.gbc
debug/*.sav
debug/*.bin
games
*.o
bin
megagb
*.txt
roms
roms_bin
compile_flags.txt
imgui.ini
.clangd
.gcc-flags.json
.gitignore
imgui.ini
